            * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

            html, body {
                height: 100%;
                width: 100%;
                padding: 0px;
                margin: 0px;
                font-size: 16px;  
            }


            body, #modal{
                background-image: url('../assets/shared/loader.gif');
                background-repeat: no-repeat;
                background-position: center;
                background-color: #000;}

            

            .left{float:left !important;}
            .right{float:right !important;}

            .hidden {
                display: none !important;
                visibility: hidden;
                opacity:0;
            }

            .fade-slow{ @include single-transition(opacity, 2400ms, ease-in-out);}
            .fade{ @include single-transition(opacity, 1200ms, ease-in-out);}
            .fade-fast{ @include single-transition(opacity, 600ms, ease-in-out);}
            .fade-none{ @include single-transition(none);}

            .fullScreen{
                position: absolute; 
                top:0; left:0; bottom:0; right:0; 
                width:100%; height:100%; 
                overflow: hidden;
                pointer-events: none;
            }

            .scrollbox{
                overflow-y:auto; 
                pointer-events: all;
            }

            .focalpoint{
                position: absolute;
                max-width: initial;
                @include transform-origin(0,0)
            }


/// Container styles /////////////////////////////////////////////////////////////

        
        .content{position: absolute; bottom:0px; left:0; right:0; top:$topbar-height;}

        .pageview, .prevbutton, .nextbutton{
            @extend fullScreen;
            pointer-events: all;
            background-color: transparent;
            border: 0px none transparent;
            z-index: 1;
        } 

        .pageview, .frameview > *{ 
            @extend .fade;
            opacity:0;
            visibility: hidden;
        }

        .pageview.loaded, .frameview.loaded > *{
                opacity:1;
                visibility: visible;
        }


        .texture{
            @extend fullScreen;
            background-image: url('../img/filmgrain-optim.png');
            @include breakpoint(hidpi) { background-size: 125px 113px; }
            z-index: 1;
        }


/// Filmstrip styles /////////////////////////////////////////////////////////////

        .blend {visibility: hidden;}
        .filmstrip{display: none;}
        .framewrap{ 
            overflow: hidden;
            .blend{position: absolute; display: none;}
            .filmstrip{
                display:block;
                position: absolute;
                width:100% !important;
                height:auto !important;
            }
        }

/// Buttons /////////////////////////////////////////////////////////////

        button{
            color: #000;
            background-color: rgba(255, 255, 255, 0.9);
            border: 1px solid rgba(0, 0, 0, 0.9);
            font-size: 14px;
            line-height: 26px;
            height: 28px;
            padding: 0 6px;
            text-align: center;
            min-width: 28px;
            pointer-events:all;
        }

        .prevbutton, .nextbutton{
            width:10%;
            height:100%;
            -webkit-user-select: none;
            -webkit-user-drag: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

            .btn{
                background-color: rgba(0,0,0,0.1);
                display: block;
                position: absolute;
                top: 50%;
                margin-top: -20px;
                width: 30px;
                height: 40px;
                line-height: 38px;
                text-align: center;
                text-decoration: none;
                color: #fff;
                border:1px solid rgba(255,255,255,0.2);
                background-clip: padding-box;

                @include breakpoint(small){
                    background-color: rgba(0,0,0,0.8);
                    margin-top: -28px;
                    width: 40px;
                    height: 56px;
                    line-height: 54px;
                }
                @include breakpoint(medium){
                    margin-top: -35px;
                    width: 50px;
                    height: 70px;
                    line-height: 68px;
                }
            }
 
                @extend .fade;
        }

        .prevbutton{right:initial; left:0; .btn{ left:0; border-left: 0;}}
        .nextbutton{left:initial; right:0;  .btn{ right:0; border-right: 0;}}
        
